<div id="file-uploader">
    <noscript>
        <p>Please enable JavaScript to use file uploader.</p>
        <!-- or put a simple form for upload here -->
    </noscript>
</div>
<script>
var uploader = new qq.FileUploader({
    // pass the dom node (ex. $(selector)[0] for jQuery users)
    // debug: true,
    element: document.getElementById('file-uploader'),
    allowedExtensions: ['mp3'],
    // path to server-side upload script
    action: '<%= media_path %>',
    onComplete: function(id, fileName, responseJSON){
        if ($('.qq-upload-file:contains(\'' + fileName + '\')')) {
          console.log($('.qq-upload-file:contains(\'' + fileName + '\')').parent());
          $('.qq-upload-file:contains(\'' + fileName + '\')').parent().delay(2000).fadeOut();
        }
        var str = '<tr>' + 
            '<td><a href="/media/' + responseJSON.id + '">' + responseJSON.id + '</a></td>' +
            '<td><a href="' + responseJSON.src + '" class="media"></a></td>' +
            '<td>' +
              '<a href="/media/' + responseJSON.id + '/edit" class="btn btn-mini"><span class="translation_missing" title="translation missing: en.helpers.links.edit">Edit</span></a> ' +
              '<a href="/media/' + responseJSON.id + '" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow"><span class="translation_missing" title="translation missing: en.helpers.links.destroy">Destroy</span></a>' +
            '</td>' +
          '</tr>';        
        $(str).prependTo($('tbody'));
        $('a[href*="' + responseJSON.src + '"]').media( { width: 300, height: 20 } );


    }
});
</script>

<%- model_class = Medium.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
<table class="table">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:audio) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @media.each do |medium| %>
      <tr>
        <td><%= link_to medium.id, medium_path(medium) %></td>
        <!-- <td><%= medium.audio %></td> -->
        <td><%= link_to "", medium.audio.url, :class => "media" %></td>        
        <td>
          
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      medium_path(medium),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

